<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>[[${pageTitle}]] | schf.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<header>
    <h1 th:text="${pageHeader}"></h1>
    <nav>
        <a th:href="@{/}" class="hover-link">../</a>
    </nav>
</header>
<main class="content-container">
    <section>
        <ul class="content-list">
            <li th:each="item : ${contents}">
                <a th:href="@{${baseUrl} + '/' + ${item.link}}" class="hover-link">
                    <span th:text="${item.date}"></span> - <span th:text="${item.name}"></span>
                </a>
            </li>
        </ul>
    </section>
</main>
<footer>
    <p th:inline="text">&copy; [[${year}]] michael schaefer. all rights reserved.</p>
</footer>
<script th:src="@{/js/vhs.js}"></script>
</body>
</html>