<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>[[${pageTitle}]] | schf.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <style>
        main {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 70vh;
        }
        .markdown-block {
            max-width: 800px;
            padding: 20px;
            text-align: left;
        }
    </style>
</head>
<body>
<header>
    <h1 th:text="${pageHeader}"></h1>
    <nav>
        <a th:href="@{/}" class="hover-link">../</a>
    </nav>
</header>
<main>
    <div class="markdown-block" th:utext="${markdownContent}"></div>
</main>
<footer>
    <p th:inline="text">&copy; [[${year}]] michael schaefer. all rights reserved.</p>
</footer>
<script th:src="@{/js/vhs.js}"></script>
</body>
</html>
