<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>michael schaefer | schf.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<header>
    <h1>schf.me</h1>
    <div class="links">
        <a th:href="@{'https://www.instagram.com/schf.me/'}" target="_blank">
            <img th:src="@{/img/ig.svg}" alt="Instagram">
        </a>
        <a th:href="@{'https://github.com/schfme'}" target="_blank">
            <img th:src="@{/img/gh.svg}" alt="GitHub">
        </a>
        <a th:href="@{'mailto:mail@schf.me'}">
            <img th:src="@{/img/em.svg}" alt="Email">
        </a>
    </div>
</header>
<main>
    <section>
        <h2><a th:href="@{/projects}" class="hover-link">/projects</a></h2>
    </section>
    <section>
        <h2><a th:href="@{/music}" class="hover-link">/music</a></h2>
    </section>
</main>
<footer>
	<p th:inline="text">&copy; [[${year}]] michael schaefer. all rights reserved.</p>
</footer>
<div class="ticker">
    <div class="t-cont">
        <!-- Render ticker items twice for seamless scrolling -->
        <span th:each="item : ${tickerItems}" th:text="${item}"></span>
        <span th:each="item : ${tickerItems}" th:text="${item}"></span>
    </div>
</div>
<script>
    // stars
    const createStar = () => {
        const star = document.createElement('div');
        star.classList.add('star');

        // random position
        const x = Math.random() * window.innerWidth;
        const y = Math.random() * window.innerHeight;

        const size = Math.random() * 3 + 1; // random size between 1 and 4 px
        const opacity = Math.random() * 0.8 + 0.2; // random opacity/intensity

        star.style.width = `${size}px`;
        star.style.height = `${size}px`;
        star.style.opacity = opacity;
        star.style.left = `${x}px`;
        star.style.top = `${y}px`;

        document.body.appendChild(star);

        // remove star after its animation ends
        setTimeout(() => star.remove(), 1800);
    };

    const generateStars = () => {
        setInterval(createStar, 50);
    };

    document.addEventListener('DOMContentLoaded', () => {
        generateStars();
    });
</script>
</body>
</html>