<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>music | schf.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<header>
    <h1>music</h1>
    <nav>
        <a th:href="@{/}" class="hover-link">../</a>
    </nav>
</header>
<main>
    <section>
        <ul>
            <li><a th:href="@{/music/track1}" target="_blank" class="hover-link">Track 1</a> - Track 1.</li>
            <li><a th:href="@{/music/track2}" target="_blank" class="hover-link">Track 2</a> - Track 2.</li>
            <li><a th:href="@{/music/track3}" target="_blank" class="hover-link">Track 3</a> - Track 3.</li>
        </ul>
    </section>
</main>
<footer>
    <p th:inline="text">&copy; [[${year}]] michael schaefer. all rights reserved.</p>
</footer>
</body>
</html>