<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>[[${pageTitle}]] | schf.me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/styles.css}">
	<link rel="icon" th:href="@{/img/favicon/posts.ico}" type="image/x-icon" />
	<link rel="icon" th:href="@{/img/apps/posts.svg}" type="image/svg+xml" />
</head>

<body>
	<header>
		<h1 th:text="${pageHeader}"></h1>
		<nav aria-label="Main Navigation">
			<a th:href="@{/}" class="hover-link" aria-label="Home">../</a>
		</nav>
	</header>
	<main class="post-headline-container">
		<section aria-label="Post Headlines">
			<ul class="post-headline-list">
				<li th:each="postHeadline : ${postHeadlines}">
					<div class="tooltip-container">
						<a th:href="@{${baseUrl} + '/' + ${postHeadline.title}}" class="hover-link"
							th:aria-label="${'Post dated ' + postHeadline.publicationDate + ' titled ' + postHeadline.title}">
							<span th:text="${#temporals.format(postHeadline.publicationDate, 'yyyy-MM-dd')}"></span> -
							<span th:text="${postHeadline.title}"></span>
						</a>
						<div class="tooltip-text" th:text="${postHeadline.blurb}"></div>
					</div>
				</li>
			</ul>
		</section>
	</main>
	<footer>
		<p th:inline="text">&copy; [[${year}]] michael schaefer. all rights reserved.</p>
		<div class="links">
			<a th:href="@{/posts/rss}" aria-label="RSS Feed" target="_blank" rel="noopener noreferrer">
				<img th:src="@{/img/social/rss.svg}" alt="RSS Feed Icon" style="width: 24px; height: 24px;">
			</a>
		</div>
	</footer>
	<script th:src="@{/js/vhs.js}"></script>
</body>

</html>