<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>[[${pageTitle}]] | schf.me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
	<header>
		<h1 th:text="${pageHeader}"></h1>
		<nav aria-label="Return To All Posts">
			<a th:href="@{/posts}" class="hover-link" aria-label="Posts">../</a>
		</nav>
	</header>
	<main>
		<article class="post-article">
			<div th:utext="${markdownContent}"></div>
		</article>
	</main>
	<footer>
		<p th:inline="text">&copy; [[${year}]] michael schaefer. all rights reserved.</p>
	</footer>

	<script th:src="@{/js/vhs.js}"></script>
</body>

</html>