<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>projects | schf.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<header>
    <h1>projects</h1>
    <nav>
        <a th:href="@{/}" class="hover-link">../</a>
    </nav>
</header>
<main>
    <section>
        <ul>
            <li th:each="project : ${projects}">
                <a th:href="@{'/projects/' + ${project.projectName}}"
                   th:text="${project.projectName}" class="hover-link"></a>
            </li>
        </ul>
    </section>
</main>
<footer>
    <p th:inline="text">&copy; [[${year}]] michael schaefer. all rights reserved.</p>
</footer>
</body>
</html>
